{% extends 'base.html.twig' %}

{% block title %}Каталог предприятий, компаний, организаций и фирм Беларуси, полный онлайн справочник для руковолителей и маркетологов - ООО "Деловые идеи инфо"{% endblock %}
{% block entryMetaDescription %}idei.by - информационный каталог для руководителей предприятий, организаций и фирм по поиску новых партнеров и поставщиков. Размещена самая полная и актуальная информация об организициях Беларуси. На сайте можно узнать юр адрес организаций и информацию о компании и ее работе.{% endblock %}
{% block body %}
    </form>
    {#<div class="container zver02">#}
    {#{{ include('index/_filtrRegion.html.twig') }}#}
    {#{{ include('index/_filtrRubricCompanu.html.twig') }}#}
    {#{{ include('index/_filtrRubricProduct.html.twig') }}#}
    {#{{ include('index/_filtrRubricService.html.twig') }}#}
    {{ include('index/_news.html.twig') }}
    {#</div>#}
<div id="homeAbout" >
    <div class="container maxRazmer">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-md-12">
                <p>&nbsp;</p>
                <p>Портал Idei.by &ndash; это полезный инструмент, который позволит расширить информационное поле для
                    вашего бизнеса и сформировать актуальную базу данныхв интересующей вас области. Портал дает
                    дополнительную возможность прорекламировать свою деятельность и найти новых клиентов через удобный
                    <strong>каталог сайтов компаний</strong> и <strong>справочник адресов</strong>.</p>
                <p>Пользоваться базой данных Idei.by удобно и просто. Вы можете узнать<strong> юр. адрес, контакты,
                        название организации, </strong>получить <strong>информацию о работе организации</strong>, ее
                    скидках и услугах всего за один клик.</p>
                <ul>
                    <li>Просто введите название компании, описание товара или услуги в строку поиска. Справочник выдаст
                        результат в виде <strong>каталога строительных предприятий, производителей, товаров
                            компаний</strong>, на страницах которых указано данное слово или фраза.
                    </li>
                </ul>
                <ul>
                    <li>Можно воспользоваться рубрикатором под строкой поиска, где каждая компания рассортирована в
                        соответствующую рубрику по направлению деятельности и обладает определенным рейтингом.
                    </li>
                </ul>
                <p><strong>Размещение информации об организации на сайте </strong>Idei.by осуществляетсяна платной и
                    бесплатной основе. Для создания страницы не требуется много времени. Пройдите регистрацию, заполните
                    страницу профиля, где укажите <strong>телефон организации, адрес компании</strong>,
                    ссылку на сайт и другой полезный контент. Страница профиля будет размещена в <strong>каталоге новых
                        компаний</strong> в заданной рубрике в алфавитном порядке. Если у вас есть товар, который нужно
                    рекламировать, воспользуйтесь <strong>каталогом продукции компании</strong>, где опишите
                    преимущества продукта и укажите стоимость.</p>
                <p>IDEI.BY &ndash; НОВЫЕ ВОЗМОЖНОСТИ ДЛЯ ВАШЕГО БИЗНЕСА</p>
            </div>
        </div>
    </div>
</div>





    {#</div>#}
    {#<script language="JavaScript" type="text/javascript" src="/js/rubrik.js"></script>#}
{% endblock %}
